{{ define "main" }}

<main>
    <div class="block introduction">
        <div class="column left">
            <img src="images/2.jpg" class="portrait" alt="Portrait" />
        </div>
        <div class="column right">
            {{- with .Param "greeting" -}}
                <h1>{{ . }}</h1>
            {{- else -}}
                <h1>{{ i18n "hello" }}.</h1>
            {{- end -}}
            <p>{{- partial "greeting.html" . -}}</p>
            <p>{{- partial "introduction.html" . -}}</p>

            <div class="links">
                {{- range .Site.Params.links -}}
                <h4><a rel="me" href="{{ .url | safeURL }}" title="{{ .title }}">{{ .emoji }} - {{ .title }}</a></h4>
                {{- end -}}
            </div>
        </div>
    </div>

    {{- if (fileExists "layouts/partials/content.html") -}}
        <div class="block">
            <div class="column left"></div>
            <div class="column right">
                {{- partial "content.html" . -}}
            </div>
        </div>
    {{- end -}}
</main>

<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

<script>
    var photo = 0;
    var maxPhoto = 9;

    $( document ).ready(function() {
        setPhoto();
    });

    function setPhoto()
    {
        setTimeout(function ()
        {
            // randomly pick a photo!
            $("img.portrait").attr("src","images/" + photo + ".jpg");

            photo++;

            if(photo > maxPhoto)
            {
                photo = 0;
            }
        
            setPhoto();
        }, 5000);
    }
</script>

{{ end }}
